body {
  background-color: #61122f;
  color: #fff;
  font-family: "Oxygen", sans-serif;
}

.row {
  margin: 0;
  justify-content: space-evenly;
}

#main-content {
  padding-top: 25px;
}

/* Header Styling */

.container {
  max-width: 100%;
}

.navbar .container {
  margin: 0;
  padding: 0 25px;
}

#header-nav {
  background-color: #f6b319;
}

.navbar-header a img {
  width: 150px;
  height: 150px;
}

.navbar-brand {
  margin: 0;
  padding-left: 10px;
  justify-self: start;
}

.navbar-brand a {
  text-decoration: none;
}

.navbar-brand a h1 {
  font-family: "Lora", sans-serif;
  color: #557c3e;
  text-shadow: 1px 1px 1px #222;
}

.navbar-brand p span {
  margin-top: 15px;
  vertical-align: center;
  font-size: 0.75em;
}

.navbar-nav {
  margin-left: auto;
}

svg {
  width: 2em;
  height: 2em;
  display: block;
}

.nav-link {
  justify-items: center;
}

.nav-item a {
  text-decoration: none;
  color: #951c3e;
}

#phone a {
  font-size: 1.8em;
}

.nav-item a:hover {
  box-shadow: 5px 5px 2px;
}

#phone a {
  text-align: right;
}

#phone div {
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
}

.navbar-toggler {
  justify-self: flex-end;
}

/* Footer Sytling */

.panel-footer {
  margin-top: 30px;
  padding: 30px 50px;
  background-color: #222;
  text-align: center;
  font-size: 0.8em;
}

#hours,
#address {
  line-height: 2;
}

#hours > div,
#address > div {
  font-size: 1.3em;
}

#address p {
  color: #557c3e;
  line-height: 1.8em;
  font-size: 0.8em;
}

#testimonial p {
  font-style: italic;
  margin-bottom: 25px;
}

/* Home Page */

.home-tile {
  position: relative;
  width: 100%;
  height: 300px;
  margin: 25px auto 25px;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
  padding: 0%;
}

.home-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  background-color: #000;
  opacity: 0.75;
  color: #fff;
  font-size: 1.2em;
}

.home-tile:hover {
  box-shadow: 5px 5px 4px #000;
}

/* Menu Category Page*/

#main-content h2 + div {
  margin-bottom: 30px;
}

.single-category {
  position: relative;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  overflow: hidden;
  margin: 0px auto 25px;
}

.single-category span {
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 1.2em;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #000;
  opacity: 0.75;
}

.single-category:hover {
  box-shadow: 5px 5px 4px #000;
}

/* Media Query */

@media (min-width: 1200px) {
  .navbar .container {
    padding: 0 75px;
  }
  .navbar-header a img {
    width: 125px;
    height: 125px;
  }
  .navbar-brand p img {
    width: 30px;
  }
  #main-content {
    padding-left: 75px;
    padding-right: 75px;
  }
  .vis-large {
    width: 100%;
  }
  .vis-medium {
    display: none;
  }
  .vis-small {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .navbar .container {
    padding: 0 40px;
  }
  .navbar-header a img {
    width: 100px;
    height: 100px;
  }
  .navbar-brand p img {
    width: 30px;
  }
  svg {
    width: 1.5em;
    height: 1.5em;
  }
  #phone a {
    font-size: 1.5em;
  }
  #main-content {
    padding-left: 40px;
    padding-right: 40px;
  }
  .vis-large {
    width: 100%;
  }
  .vis-medium {
    display: none;
  }
  .vis-small {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .navbar .container {
    padding: 0 40px;
  }
  .navbar-header a img {
    width: 100px;
    height: 100px;
  }
  .navbar-brand p img {
    width: 25px;
  }
  #main-content {
    padding-left: 40px;
    padding-right: 40px;
  }
  .vis-large {
    display: none;
  }
  .vis-medium {
    width: 100%;
  }
  .vis-small {
    display: none;
  }
  #map {
    width: 80%;
  }
}

@media (min-width: 521px) and (max-width: 768px) {
  .navbar .container {
    padding: 0 20px;
  }
  .navbar-header a img {
    width: 75px;
    height: 75px;
  }
  .navbar-brand p img {
    width: 20px;
  }
  .navbar-toggler {
    width: 50px;
    padding: 5px;
  }
  #main-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .vis-large {
    display: none;
  }
  .vis-medium {
    display: none;
  }
  .vis-small {
    width: 100%;
  }
  #map {
    width: 80%;
  }
}

@media (min-width: 371px) and (max-width: 520px) {
  .navbar .container {
    padding: 0 15px;
  }
  .navbar-header a img {
    width: 0px;
    height: 0px;
  }
  .navbar-brand {
    padding: 0;
  }
  .navbar-brand a h1 {
    font-size: 1.25em;
  }
  .navbar-brand p img {
    width: 15px;
  }
  .navbar-toggler {
    width: 50px;
    padding: 5px;
  }
  #main-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .vis-large {
    display: none;
  }
  .vis-medium {
    display: none;
  }
  .vis-small {
    width: 100%;
  }
}

@media (max-width: 370px) {
  .navbar .container {
    padding: 0 15px;
  }
  .navbar-header a img {
    width: 0px;
    height: 0px;
  }
  .navbar-brand {
    padding: 0;
  }
  .navbar-brand a h1 {
    font-size: 1em;
  }
  .navbar-brand p img {
    width: 10px;
  }
  .navbar-toggler {
    width: 50px;
    padding: 5px;
  }
  #main-content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .vis-large {
    display: none;
  }
  .vis-medium {
    display: none;
  }
  .vis-small {
    width: 100%;
  }
}
