body {
  background-color: #3c0b1d;
  color: #fff;
  font-family: "Oxygen", sans-serif;
}
.row {
  margin: 0;
  justify-content: space-around;
}
#main-content {
  padding-top: 25px;
}
/* Header Styling */
.container {
  max-width: 100%;
}
.navbar .container {
  margin: 0;
  padding: 0 25px;
}
#header-nav {
  background-color: #f7c245;
}
.navbar-header a img {
  width: 150px;
  height: 150px;
}
.navbar-brand {
  margin: 0;
  padding-left: 10px;
  justify-self: start;
}
.navbar-brand a {
  text-decoration: none;
}
.navbar-brand a h1 {
  font-family: "Lora", sans-serif;
  color: #194200;
  text-shadow: 1px 1px 1px #222;
}
.navbar-brand p span {
  margin-top: 15px;
  vertical-align: center;
  font-size: 0.75em;
}
.navbar-nav {
  margin-left: auto;
}
svg {
  width: 2em;
  height: 2em;
  display: block;
  color: #000;
}
.nav-link {
  justify-items: center;
}
.nav-item a {
  text-decoration: none;
  color: #951c3e;
}
#phone a {
  font-size: 1.8em;
  text-align: right;
}
#phone div {
  color: #194200;
  text-align: right;
  padding-right: 15px;
}
.nav-item a:hover {
  box-shadow: 5px 5px 2px #000;
}
#phone-con {
  display: inline;
  margin-right: 15px;
}
#phone-small {
  text-align: center;
  background-color: #f7c245;
  margin: 30px auto;
  border-radius: 15px;
}
#phone-small a {
  font-size: 1.8em;
  text-decoration: none;
  color: #951c3e;
}
#phone-small div {
  color: #557c3e;
  text-align: center;
}
#phone-small a:hover {
  box-shadow: 5px 5px 2px #000;
}
.navbar-toggler {
  justify-self: flex-end;
}
.active {
  box-shadow: 5px 5px 2px #000;
}
/* Footer Sytling */
.panel-footer {
  margin-top: 30px;
  padding: 30px 50px;
  background-color: #222;
  text-align: center;
  font-size: 1em;
}
#hours,
#address {
  line-height: 2;
}
#hours > div,
#address > div {
  font-size: 1.3em;
}
#address p {
  color: #b7ff8d;
  line-height: 1.8em;
  font-size: 0.8em;
}
#testimonial p {
  font-style: italic;
  margin-bottom: 25px;
}
/* Home Page */
.home-tile {
  position: relative;
  width: 100%;
  height: 300px;
  margin: 25px auto 25px;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
  padding: 0%;
}
.home-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #000;
  opacity: 0.75;
  color: #fff;
  font-size: 1.5em;
  padding-top: 10px;
}
.home-tile:hover {
  box-shadow: 5px 5px 4px #000;
}
/* Menu Category Page*/
#main-content h2 + div {
  margin-bottom: 30px;
}
.single-category {
  position: relative;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  overflow: hidden;
  margin: 0px auto 25px;
  border-radius: 5px;
}
.single-category span {
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 1.2em;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #000;
  opacity: 0.75;
}
.single-category:hover {
  box-shadow: 5px 5px 4px #000;
}
/* Single Category Page */
.text-served {
  font-size: 1em;
  padding: 0 auto;
}
#single-card {
  position: relative;
}
#category-code {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #000;
  color: #fff;
  width: 75px;
  text-align: center;
  border-radius: 50%;
}
.single-category-card {
  margin: 20px auto;
  padding: 0px;
  border: solid 2px black;
  border-radius: 10px;
  position: relative;
  height: 200px;
  background-color: #c8943b;
  color: #000;
  overflow: hidden;
}
.single-category-image {
  padding: 0px;
}
.single-category-text {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  justify-content: center;
}
.single-category-text h3 {
  text-decoration: underline;
  font-size: 1.2em;
}
/* Media Query */
@media (min-width: 1200px) {
  .navbar .container {
    padding: 0 75px;
  }
  .navbar-header a img {
    width: 125px;
    height: 125px;
  }
  .navbar-brand p img {
    width: 30px;
  }
  .panel-footer {
    padding: 30px 50px;
  }
  #main-content {
    padding-left: 75px;
    padding-right: 75px;
  }
  .vis-large {
    width: 100%;
  }
  .vis-medium {
    display: none;
  }
  .vis-small {
    display: none;
  }
  .single-category-text {
    font-size: 1em;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar .container {
    padding: 0 40px;
  }
  .navbar-header a img {
    width: 100px;
    height: 100px;
  }
  .navbar-brand p img {
    width: 30px;
  }
  svg {
    width: 1.5em;
    height: 1.5em;
  }
  #phone a {
    font-size: 1.5em;
  }
  .panel-footer {
    padding: 30px 40px;
  }
  #main-content {
    padding-left: 40px;
    padding-right: 40px;
  }
  .vis-large {
    width: 100%;
  }
  .vis-medium {
    display: none;
  }
  .vis-small {
    display: none;
  }
  .single-category-text {
    font-size: 1em;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .navbar .container {
    padding: 0 40px;
  }
  .navbar-header a img {
    width: 100px;
    height: 100px;
  }
  .navbar-brand p img {
    width: 25px;
  }
  .panel-footer {
    padding: 30px 40px;
  }
  #main-content {
    padding-left: 40px;
    padding-right: 40px;
  }
  .vis-large {
    display: none;
  }
  .vis-medium {
    width: 100%;
  }
  .vis-small {
    display: none;
  }
  #map {
    width: 80%;
  }
  .single-category-text {
    font-size: 0.85em;
  }
}
@media (min-width: 521px) and (max-width: 768px) {
  .navbar .container {
    padding: 0 20px;
  }
  .navbar-header a img {
    width: 75px;
    height: 75px;
  }
  .navbar-brand p img {
    width: 20px;
  }
  .navbar-toggler {
    width: 50px;
    padding: 5px;
  }
  .panel-footer {
    padding: 30px 20px;
  }
  #main-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .vis-large {
    display: none;
  }
  .vis-medium {
    display: none;
  }
  .vis-small {
    width: 100%;
  }
  #map {
    width: 80%;
  }
  .single-category-text {
    font-size: 0.85em;
  }
}
@media (min-width: 371px) and (max-width: 520px) {
  .navbar .container {
    padding: 0 15px;
  }
  .navbar-header a img {
    width: 0px;
    height: 0px;
  }
  .navbar-brand {
    padding: 0;
  }
  .navbar-brand a h1 {
    font-size: 1.25em;
  }
  .navbar-brand p img {
    width: 15px;
  }
  .navbar-toggler {
    width: 50px;
    padding: 5px;
  }
  .panel-footer {
    padding: 30px 20px;
  }
  #main-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .vis-large {
    display: none;
  }
  .vis-medium {
    display: none;
  }
  .vis-small {
    width: 100%;
  }
  .single-category-text {
    font-size: 0.7em;
  }
  #phone-small {
    width: 90%;
  }
}
@media (max-width: 370px) {
  .navbar .container {
    padding: 0 15px;
  }
  .navbar-header a img {
    width: 0px;
    height: 0px;
  }
  .navbar-brand {
    padding: 0;
  }
  .navbar-brand a h1 {
    font-size: 1em;
  }
  .navbar-brand p img {
    width: 10px;
  }
  .navbar-toggler {
    width: 50px;
    padding: 5px;
  }
  .panel-footer {
    padding: 30px 15px;
  }
  #main-content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .vis-large {
    display: none;
  }
  .vis-medium {
    display: none;
  }
  .vis-small {
    width: 100%;
  }
  .single-category-text {
    font-size: 0.7em;
  }
  #phone-small {
    width: 90%;
  }
}
